{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 05
{% endblock %}

{% block content %}

<main id="content" role="main">

{{ super() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Before you start</h1>
      <p>You can claim Industrial Injuries Disablement Benefit if you're ill or disabled and it was caused by your work.</p>
      <p>To claim you'll need:</p>
        <ul class='list-bullet'>
  <li class='list-bullet'>your National Insurance number</li>
  <li class='list-bullet'>details of your employer at the time of your accident</li>
</ul>

      {% set QuestionTitle = "Why are you claiming?" %}
      <h1 class="heading-medium">{{ QuestionTitle }}</h1>
      <p>Pick the choice that best fits your situation.</p>
      <form action="{{ proto.path }}/step1" method="post">
        <fieldset class="form-group">

          <legend class="visuallyhidden">{{ QuestionTitle }}</legend>

          <label class="block-label" for="radio-accident">
            <input id="radio-accident" type="radio" name="reason" value="accident">
            You have an illness caused by your job or work environment
          </label>

          <label class="block-label" for="radio-illness">
            <input id="radio-illness" type="radio" name="reason" value="illness">
            You have an injury or disability caused by an accident at work
          </label>

          <label class="block-label" for="radio-other">
            <input id="radio-other" type="radio" name="reason" value="other">
            You have an illness or disability but it wasn't caused by work
          </label>

        </fieldset>

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button button-start" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
