// VERSIONS 01 - 06 core styles (LEAVE ALONE)
// makes existing styles apply to version 01 - 06
@for $i from 1 through 6 {
  $digit: '';
  @if $i <= 9 { $digit: 0; }
  .alpha-#{$digit}#{$i} {
    // Add extra styles here, or re-organise the Sass files in whichever way makes most sense to
    .form-alert {
        border-left-width: 10px;
        background-color: lighten($yellow, 30%);
        clear: both;
        border-left-style: solid;
        border-color: $yellow;
        padding: 0.7894736842em;
        margin-bottom: 0.7894736842em;
    }

    .form-label {
      margin-bottom: 5px;
    }
  }
}
