// some CSS locked down to early versions of the prototype prior to
// allowing styling on a per version basis.
@import 'early_versions';

// ------------------------------------------------------------------
// EXAMPLE OF VERSION VIA BODY CLASS (LEAVE INTACT)
// ------------------------------------------------------------------
// within this single sass file you can write version specifc CSS
// each version is automatically name-spaced via on the bodyclass
// see the example below
// ------------------------------------------------------------------


// Fix for month field
.form-date .form-group{
    width: 55px;
}

.alpha {

  // this will write out '.alpha-06'
  &-06 {

    // this will write out '.alpha-06 .example-selector'
    // so you know for sure it is version specific
    .example-selector {
      &:before {
        content: 'demo';
        display: block;
      }
    }

  }

  &-07 {

    .list-bullet, .list-number {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .extra-group {
        border-left: 5px solid #bfc1c3;
        padding-left: 15px;
    }


  }
    
&-08, &-09, &-10, &-11{

      .no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .remove-list-item {
      display: inline-block;
      margin-top: 1em;
    }

    .list-item-wrapper {
      padding-left: 20px;
      padding-right: 20px;

      .heading-small,
      .heading-medium,
      .heading-large,
      .heading-xlarge {
        margin-top: 0;
      }

      .column-one-third {
        .list-item {
          width: 100%;
        }

        input {
          width: 90%;

          @media (max-width: 640px) {
            width: 100%;
          }
        }
      }
    }

    .button-add-another {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;

      &:hover {
        background-color: #ccc;
        color: #000;
        box-shadow: 0 2px 0 #666;
      }

      &:focus {
        background-color: #ccc;
        color: #000;
        box-shadow: 0 2px 0 #666;
      }
    }
                
              


  }

}


// ------------------------------------------------------------------
// Gov UK stuff
// ------------------------------------------------------------------
.gov-pages{
    .bold{
        font-weight: bold;
    }
    h1{
        margin-bottom: 30px;
    }
    .related{
        border-top: 10px solid #005ea5;
        margin-top: 40px;
        
        h5{
            margin-top: 20px;
        }
        .group{
            margin-bottom: 20px;
        }
        .bold{
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
    }
    .iidb-nav{
        li{
            margin-top: 10px;
        }
        padding-bottom: 30px;
        border-bottom: 1px solid #bbb;
    }
}


// ------------------------------------------------------------------
// Address fix
// ------------------------------------------------------------------
.add-fix{
  margin-bottom:10px!important;  
}



