{% extends "layout.html" %}

{% block page_title %}
  {{ proto.title + ' ' + proto.version }} - Accident - What were you doing
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">


        
     

            <form action="{{ proto.path }}/accident_happen" method="post" autocomplete="off">
                <fieldset>
                    
                <h1 class="heading-large">What work related tasks were you doing at the time of the accident?</h1>

                  <legend class="visuallyhidden">What work related tasks were you doing at the time of the accident?</legend>

                    <div class="form-group">
                        <div class="form-group">
                          <label class="form-label" for="text-area">Be specific about what you were doing when the accident occured</label>
                          <p class="form-hint"><span data-start="1000">0</span> characters remaining</p>
                          <textarea class="form-control form-control-3-4" rows="10" id="text-area" name="text-area"></textarea>
                        </div>
                      </div>
                    
                </fieldset>

                   <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>



</div>
</div>
</main>



{% endblock %}

{% block body_end %}

  {{ super() }}

<script>
$(document).ready(function () {
      $('span').each(function () {
        if ($(this).attr('data-start')) {
          $(this).html($(this).attr('data-start'));
        }
      });
    });

    $(document).on('keyup', '#text-area', function () {
      var span = $(this).parents('.form-group').find('.form-hint span');
      var start = $(this).parents('.form-group').find('.form-hint span').attr('data-start');
      remaning = start - $(this).val().length;
      span.html(remaning);
    });
</script>

{% endblock %}
