{% extends "layout.html" %}

{% block page_title %}
  {{ proto.title + ' ' + proto.version }} - Medical help
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Did you seek professional medical advice after you accident?</h1>
    
      <form action="{{ proto.path }}/medical_names" method="post">
                <fieldset class="inline">

                  <legend class="visuallyhidden">Did you seek medical davice after you accident?</legend>

                  <div class="form-group">

                    <label class="block-label" for="radio-indent-1">
                      <input id="radio-indent-1" type="radio" name="seek_medical" value="true">
                      Yes
                    </label>

                    <label class="block-label" for="radio-indent-2">
                      <input id="radio-indent-2" type="radio" name="seek_medical" value="false">
                      No
                    </label>

                  </div>

                </fieldset>

                   <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>


    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
