{% extends "layout.html" %}

{% block page_title %}
  {{ proto.title + ' ' + proto.version }} - Medical details
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">


      <h3 class="heading-large">Tell us the address of the XXXXXX you visited</h3>

      <form action="{{ proto.path }}/accident_workrelated" method="post" autocomplete="off">

        <div class="form-group" id="address-container">
          <p class="form-label">Address</p>
          <label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
          <label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
          <label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
        </div>

        <div class="form-group">
          <label class="form-label" for="town">Town or City</label>
          <input class="form-control" id="town" type="text" name="town">
        </div>

        <div class="form-group">
          <label class="form-label" for="postcode">Postcode</label>
          <input class="form-control" id="postcode" type="text" name="postcode">
        </div>

        <div class="form-group">
          <label class="form-label" for="telephone">Telephone</label>
          <input class="form-control" id="telephone" type="number" name="telephone">
        </div>


        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

      </form>

    </div>

  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
