{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 04 - Accident details
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="govuk-box-highlight">
    <h2 class="bold-large">
      Application complete
    </h2>
    <p>
      <strong class="heading-medium">We have received your claim. </strong>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">What happens next?</h3>
      <p>It can take up to 11 weeks to process your claim.</p>
      <p>There is no need to contact us at this stage.</p>
      <p>We will contact you by text or letter to let you know how your claim is progressing.</p>
    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
