{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 06 - Am I elligible to claim?
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        
         <h2 class="heading-large">About your accident</h2>
        
          <h1 class="heading-medium">Were you in England, Scotland or Wales when you had your accident?</h1>
            
            <form action="/alpha-06/app/working" method="post">
                <fieldset class="inline">

                  <legend class="visuallyhidden">Were you in England, Scotland or Wales when you had your accident?</legend>

                  <div class="form-group">

                    <label class="block-label" for="radio-indent-1">
                      <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                      Yes
                    </label>

                    <label class="block-label" data-target="about-accident" for="radio-indent-2">
                      <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
                      No
                    </label>

                    <div class="panel panel-border-wide js-hidden" id="about-accident">
                      <p><a  rel="external" href="https://www.gov.uk/international-pension-centre">Contact the International
                Pension Centre</a> for advice on claiming for accidents that happened outside the UK.
                        </p>
                    </div>

                  </div>

                </fieldset>

                   <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>



</div>
</div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

  
{% endblock %}
