{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 06
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

<h2 class="heading-large">You can't get Industrial Injuries benefit</h2>

<p>To get Industrial Injuries benefit you must have either:</p>
<ul class='list-bullet'>
  <li class='list-bullet'>an illness caused by your normal work duties or work environment</li>
  <li class='list-bullet'>been injured while doing your job</li>
</ul>

<p>Based on your answers you're not eligible to claim.</p>

<p>You may still be able to <a href="https://www.gov.uk/browse/benefits/entitlement">get other help</a>, it will depend on your illness or disability and how it happened.</p>

    </div>
  </div>
</main>

{% endblock %}
