{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 06 - Step 4
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h3 class="heading-medium">Bank account details</h3>

      <p>The benefit can only be paid into a UK bank account or Post Office card account.</p>

      <form action="/alpha-06/app/accident_details" method="post">

        {% set q1 = "Do you have a UK bank account?" %}

        <h2 class="heading-medium">{{ q1 }}</h2>

          <div class="form-group">
            <fieldset class="inline">

              <legend class="visuallyhidden">{{ q1 }}</legend>

              <label class="block-label" for="account-yes" data-target="account-yes-fields">
                <input id="account-yes" type="radio" name="has-account" value="Yes">
                Yes
              </label>

              <label class="block-label" for="account-no" data-target="account-no-notice">
                <input id="account-no" type="radio" name="has-account" value="No">
                No
              </label>

              <div class="form-group form-alert js-hidden notice" id="account-no-notice">
                <h2 class="heading-small" style="margin:0;">You can't be paid Industrial Injuries Disablement Benefit without a UK bank account.</h2>
                <p>You can still claim and give your bank account details later, once you have a decision.</p>
              </div>

            </fieldset>
          </div>

          <fieldset id="account-yes-fields" class="js-hidden">

            <div class="form-group">
              <label for="account-name" class="form-label">Account holder</label>
              <input type="text" class="form-control" name="account-name" id="account-name">
            </div>

            <div class="form-group">
              <label for="bank-name" class="form-label">Name of bank or building society</label>
              <input type="text" class="form-control" name="bank-name" id="bank-name">
            </div>

            <div class="form-group">
              <label for="sort-code" class="form-label">Sort code</label>
              <input type="text" class="form-control" name="sort-code" id="sort-code">
            </div>

            <div class="form-group">
              <label for="account-number" class="form-label">Account number</label>
              <input type="text" class="form-control" name="account-number" id="account-number">
              <details style="margin-top: 10px;">
                <summary><span class="summary">Post Office Card Account Numbers</span></summary>
                <div class="panel panel-border-narrow">
                  <p>If you're using a post office card account your account number isn't the number on your card. It will be on any letter you've had about your account.</p>
                  </p>
                </div>
              </details>
            </div>

            <div class="form-group">
              <label for="society-roll-number" class="form-label">Building society roll number (if needed)</label>
              <input type="text" class="form-control" name="society-roll-number" id="society-roll-number">
            </div>

          </fieldset>

          <fieldset class="primary-nav form-group">
            <legend class="visuallyhidden">Form Navigation</legend>
            <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
