{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 01
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Alpha 03</h1>

      <p>This version comprises the following Trello Cards</p>

      <ul class="list list-bullet">
        <li><a href="https://trello.com/c/FBKomnFf">Users need to provide us with their bank details</a></li>
        <li><a href="https://trello.com/c/3yqPL75e">Users need to provide consent for access to their medical records</a></li>
        <li><a href="https://trello.com/c/KOStYaZa">There are reasons a user will not be allowed to claim.</a></li>
        <li><a href="https://trello.com/c/oiOAN7xI/7-users-will-need-to-provide-us-with-some-personal-details">Users will need to provide us with some personal details</a></li>
      </ul>

      <p><a class="button button-start" href="/alpha-03/app/" role="button">View prototype</a></p>

    </div>
  </div>
</main>

{% endblock %}
