{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 03
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Apply for Industrial Injuries Disablement Benefit</h1>

      <h2 class="heading-large">You will be unable to claim</h2>

      <p>Based on what you have told us, you or the person you are claiming for will not be eligible to claim Industrial Injuries Disablement Benefit.</p>

      <h3 class="heading-medium">More information</h3>

      <p>You can read more about <a href="https://www.gov.uk/industrial-injuries-disablement-benefit/eligibility">eligibility for Industrial Injuries Disablement Benefit</a> on the Department for Work & Pensions website.</p>
      <p>There is also <a href="https://www.gov.uk/industrial-injuries-disablement-benefit/further-information">further information about other benefits</a> that you may be able to claim.</p>

    </div>
  </div>
</main>

{% endblock %}
