{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 03
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{ proto.version | upper | trC('-',' ') }}</h1>

      <p>This version comprises the following Trello Cards from the <a href="https://trello.com/b/7yUKtZyd">IIDB Hypothesis Board</a></p>

      {{
        helpers.linkList([
          {
            url: 'https://trello.com/c/3yqPL75e',
            text: 'Consent for access to Medical records'
          },
          {
            url: 'https://trello.com/c/FBKomnFf',
            text: 'Users need to provide us with their bank details'
          },
          {
            url: 'https://trello.com/c/KOStYaZa',
            text: "There are reasons a user won't be eligible to claim."
          },
          {
            url: 'https://trello.com/c/oiOAN7xI/7-users-will-need-to-provide-us-with-some-personal-details',
            text: 'Users will need to provide us with some personal details'
          }
        ])
      }}

      <p><a class="button button-start" href="{{ proto.path }}" role="button">View prototype</a></p>

    </div>
  </div>
</main>

{% endblock %}
