{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 02 - Step 3
{% endblock %}

{% block content %}

{{ posted | log | safe }}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can I get Industrial Injuries Disablement Benefit?</h1>

      <h3 class="heading-medium">Bank details form</h3>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
