{% extends "layout.html" %}

{% block page_title %}
What dates are you unavailable before 29th July 2016? - {{ proto.title }} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {{ super() }}
  <div class="grid-row">
    <div class="column-two-thirds">


      <h2 class="heading-large">What dates are you unavailable before 29th July 2016?</h2>


      <form action="{{ proto.path }}/xxx" method="post" autocomplete="off">
        
        
        <div class="form-group">
     
          <fieldset>
            <legend>
            <span class="form-label-bold">
                Date 1
              </span>
              <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dob-day">Day</label>
                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="dob-month">Month</label>
                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>
              <div class="form-group form-group-year">
                <label class="form-label" for="dob-year">Year</label>
                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
              </div>
            </div>
          </fieldset>
        </div>


        <!-- <div class="column-one-third no-padding">
              <div class="list-item">
              </div>
            </div>_-->
  
<!--
           <div class="grid-row">
        <div class="column-two-thirds">
          <div class="form-group">
            <button id="add-button" class="button button-add-another">Add another date</button>
          </div>
        </div>
      </div>
      -->



       

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

        </form>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}
  
</script>

{% endblock %}
