{% extends "layout.html" %}

{% block page_title %}
What dates are you unable to attend a medical assessment?- {{ proto.title }} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {{ super() }}
  <div class="grid-row">
    <div class="column-two-thirds">


      <h2 class="heading-large">What dates are you unable to attend a medical assessment?</h2>
      <p>Your medical assesment needs to be booked before 29th July 2016.</p>
      <form action="{{ proto.path }}/give_dates" method="post" autocomplete="off">

        <div class="form-group">
         

          <label class="block-label" for="dates">
          <input id="dates" type="checkbox" name="date-r">
          I am unavailable for specific dates before this date
          </label>
        </div>

        <div class="form-group">
          <label class="block-label for="dates-specific">
          <input id="dates-specific" type="checkbox" name="date-s">
          I am Unavailable for a date range before this date
          </label>
        </div>

          <p>or</p>
      

        <div class="form-group">
          <label class="block-label for="dates">
          <input id="free" type="checkbox" name="date-s">
          I am free to attend a medical assessment up until the 29th July 2016
          </label>
        </div>

       

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

        </form>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
