{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 01
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Alpha 01</h1>

      <p>This version comprises the following Trello Cards</p>

      <ul class="list list-bullet">
        <li><a href="https://trello.com/c/KOStYaZa">There are reasons a user will not be allowed to claim.</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
