{% extends "layout.html" %}

{% block page_title %}
  {{ proto.title + ' ' + proto.version }} - Industrial Injuries Disablement Benefit - GOV.UK 
{% endblock %}

{% block content %}

<main id="content" role="main">



    <div class="grid-row gov-pages">
    
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Industrial Injuries Disablement Benefit</h1>
            
              <div class="grid-row font-xsmall iidb-nav">

                <div class="column-one-half">
                  <ol>
                          <li>
                            <span class="part-number">1.</span>
                              <a title="Part 1: Overview" href="{{ proto.path }}/index.html">Overview</a>
                          </li>
                          <li>
                            <span class="part-number">2.</span>
                            <a title="Part 2: What you'll get" href="{{ proto.path }}/_whatyouget.html">What you'll get</a>
                          </li>
                          <li>
                              <span class="part-number">3.</span>
                            <a title="Part 3: Eligibility" href="{{ proto.path }}/_eligibility.html">Eligibility</a>
                      </li>
                    </ol>
                </div>

                <div class="column-one-half">
                    <ol start="4">
                          <li>
                            <span class="part-number">4.</span>
                           <a title="Part 3: Eligibility" href="{{ proto.path }}/_start.html">How to claim</a>
                          </li>
                          <li>
                            <span class="part-number">5.</span>
                            Further information
                          </li>
                    </ol>
                </div>

              </div>
            
            <!-- ////// Main Content ///////////// -->
            
            <h3 class="heading-medium">5. Further information</h3>
            
            <h4 class="heading-medium">What to do if your circumstances change</h4>
            <p>You, or the person who claims on your behalf, must tell the office that deals with your payments about any changes to your circumstances or personal details. Let them know if: </p>
            <ul class="list list-bullet text">
              <li>the condition for which you’re getting benefit improves</li>
              <li>you marry, remarry, or form a civil partnership and change your name</li>
              <li>you change your address</li>
              <li>you leave the country</li>
              <li>you go into prison</li>
            </ul>
            <div role="note" aria-label="Information" class="panel panel-border-wide">
            <p>You must also report these if you receive Unemployability Supplement, which topped up Industrial Disablement Supplement until 1987.</p>
            </div>

            
            <h4 class="heading-medium">Other benefits you may be able to get</h4>
            
            
            <!-- ////// Services ///////////// -->
            <h5 class="heading-small">Constant Attendance Allowance (CAA)</h5>
            
            <p>You can claim <a href="https://www.gov.uk/constant-attendance-allowance"><abbr title="Constant Attendance Allowance">CAA</abbr></a> for accidents where your disability is assessed at 100% and you need daily care and attention.</p>
            
            <p>The <abbr title="Constant Attendance Allowance">CAA</abbr> rate you’re paid is based on an assessment of your needs.</p>
            
            <!-- ////// Services ///////////// -->
            <h5 class="heading-small">Exceptionally Severe Disablement Allowance</h5>
            
            <p>You can claim £67.20 paid in addition to the <abbr title="Constant Attendance Allowance">CAA</abbr> rates, if you’re assessed at one of the top two rates of <abbr title="Constant Attendance Allowance">CAA</abbr> and need permanent, constant care and attention.</p>
            
     
            
            <!-- ////// Services ///////////// -->
            <h5 class="heading-small">Reduced Earnings Allowance (REA)</h5>
            
           <p>You may get <a href="/reduced-earnings-allowance"><abbr title="Reduced Earnings Allowance">REA</abbr></a> if:</p>
            
            <ul>
              <li>you can’t do your usual job or other work with similar pay because of an accident or disease caused by work</li>
              <li>you have a disability or injury which began before 1 October 1990</li>
            </ul>
            
            
            <!-- ////// Services ///////////// -->
            <h5 class="heading-small">Pneumoconiosis Etc. (Workers’ Compensation) Act 1979</h5>
            
            <p>Jobcentre Plus may pay you a lump sum if you have one of the following diseases:</p>
            
            <ul class="list list-bullet text">
              <li>pneumoconiosis </li>
              <li>byssinosis </li>
              <li>diffuse mesothelioma </li>
              <li>bilateral diffuse pleural thickening </li>
              <li>primary carcinoma of the lung when accompanied by asbestosis or bilateral diffuse pleural thickening</li>
            </ul>
            
            <p>To get a payment you must meet all the following conditions:</p>
            
            <ul class="list list-bullet text">
              <li>your dust-related disease must have been caused by your employment </li>
              <li>you’re getting Industrial Injuries Disablement Benefit for one of the listed diseases </li>
              <li>you must claim within 12 months of the decision awarding Industrial Injuries Disablement Benefit  </li>
              <li>you can’t or haven’t taken civil action because your former employer has stopped trading </li>
              <li>you haven’t brought a court action or received compensation from an employer in respect of the disease</li>
            </ul>
            
            <p>You may be able to make a claim if you’re the dependant of someone who suffered from a dust-related disease but who has died. A dependant claim must be made within 12 months of the death of the sufferer. </p>
            
            
            
             <!-- ////// Services ///////////// -->
            <h5 class="heading-small">Diffuse mesothelioma payment</h5>
            
            <p>You may still be able to get a payment for an asbestos-related illness if you aren’t eligible for compensation under the Pneumoconiosis etc (Workers’ Compensation) Act 1979.</p>
            
            <p>You can claim for the <a href="/diffuse-mesothelioma-payment/eligibility">’2008 scheme’</a> if you came into contact with asbestos:</p>
            
            <ul class="list list-bullet text">
              <li>while you were self employed</li>
              <li>through a family member, eg by washing their clothes  </li>
            </ul>
            
            <p>There’s a <a href="/diffuse-mesothelioma-payment/eligibility">different payment scheme</a> if you were diagnosed with diffuse mesothelioma on or after 25 July 2012. You can apply for this even if you’ve claimed compensation under the Pneumoconiosis etc (Workers’ Compensation) Act 1979.</p>
            
            
            <!-- ////// Effect on other benefits ///////////// -->
            <h5 class="heading-small">Diffuse mesothelioma payment</h5>
            
            <p>You can still get Industrial Injuries Disablement Benefit (<abbr title="Industrial Injuries Disablement Benefit">IIDB</abbr>) if you’re claiming:</p>
            
            <ul class="list list-bullet text">
              <li><a href="/employment-support-allowance">contribution-based Employment and Support Allowance</a></li>
              <li><a href="/incapacity-benefit">Incapacity Benefit</a></li>
              <li><a href="/jobseekers-allowance">contribution-based Jobseeker’s Allowance</a></li>
              <li><a href="/state-pension">State Pension</a></li>
            </ul>
            
            <p><abbr title="Industrial Injuries Disablement Benefit">IIDB</abbr> will affect the following benefits if you or your partner are claiming them:</p>
            
            <ul class="list list-bullet text">
              <li>
            <a href="/income-support">Income Support</a> </li>
              <li><a href="/jobseekers-allowance">income-based Jobseeker’s Allowance</a></li>
              <li><a href="/employment-support-allowance">income-related Employment and Support Allowance</a></li>
              <li><a href="/pension-credit">Pension Credit</a></li>
              <li>
            <a href="/housing-benefit">Housing Benefit</a> </li>
              <li>
            <a href="/working-tax-credit">Working Tax Credit</a>  </li>
              <li><a href="/universal-credit">Universal Credit</a></li>
            </ul>
            
            
            <p>It may also affect <a href="/council-tax-reduction">Council Tax Reduction</a> - contact your local council for more information.</p>
            
            
            <h5 class="heading-medium">Industrial Injuries Disablement Benefit Centres</h5>
            
                <p>

                Barrow Benefit Centre  
                <br>Post Handling Site B  
                <br>Wolverhampton  
                <br>WV99 1RX  
                <br>
                </p>
            
            
                <p>Telephone: 0345 603 1358<br>
                Textphone: 0345 608 8551<br>
                <a href="/https://www.gov.uk/call-charges">Find out about call charges</a></p>
            
                <p>

                Barnsley <abbr title="Industrial Injuries Disablement Benefit">IIDB</abbr> Centre  
                <br>Mail Handling Site A  
                <br>Wolverhampton  
                <br>WV98 1SY
                <br>
                </p>
            
            
                <p>Telephone: 0345 758 5433<br>
                Textphone: 0345 608 8551<br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        </div>
       
        
        
        
        <div class="column-one-third">
            <aside class="related">
                <div class="inner group font-xsmall">
                    <h5 class="heading-medium">Jobseeker's Allowance and low income benefits</h5>
                        <a href="https://www.gov.uk/diffuse-mesothelioma-payment">Diffuse mesothelioma payments</a>                 
                        <a class="bold" href="https://www.gov.uk/browse/benefits/jobseekers-allowance">More <span class="visuallyhidden">in Jobseeker's Allowance and low income benefits</span></a>
                </div>
                <div class="inner group font-xsmall">
                    <h5 class="heading-medium">Benefits</h5>
                    <a href="https://www.gov.uk/benefit-fraud">Benefit fraud</a>
                    <a class="bold" href="/browse/benefits">More <span class="visuallyhidden">in Benefits</span></a>
                </div>
                <div class="inner group font-xsmall">
                    <h5 class="heading-medium">Elsewhere on GOV.UK</h5>
                
                    <a href="https://www.gov.uk/day-care-centres">Disability day care centres</a>
                  
                </div>
            </aside>
        </div>
        
        
        
        
    </div>
 
</main>

{% endblock %}

{% block footer_support_links %}
 
{% endblock %}
