{% extends "layout.html" %}

{% block page_title %}
Your clinic or doctor - {{ proto.title }} - GOV.UK

{% endblock %}

{% block content %}

<main id="content" role="main">
  {{ super() }}
  <div class="grid-row">
    <div class="column-two-thirds">


        
      <h3 class="heading-large">Your clinic or doctor</h3>

      <form action="{{ proto.path }}/personal_details" method="post" autocomplete="off">

        <div class="form-group">
          <label class="form-label" for="town">Name of practice</label>
          <input class="form-control" id="surgery-name" type="text" name="surgery-name">
        </div>

        <div class="form-group" id="address-container">
          

           <div class="form-group" id="address-container">
         
          
          <label class="form-label">Address</label>
          <input type="text" class="form-control add-fix" id="gp-address-line1">

          <label class="form-label"></label>
          <input type="text" class="form-control add-fix"" id="gp-address-line2">

          <label class="form-label"></label>
          <input type="text" class="form-control" id="gp-address-line2">
          

        </div>

        <!--
          
        <div class="form-group">
          <label class="form-label" for="town">Town or city</label>
          <input class="form-control" id="town" type="text" name="town">
        </div>

        <div class="form-group">
          <label class="form-label" for="postcode">Postcode</label>
          <input class="form-control" id="postcode" type="text" name="postcode">
        </div>

        <div class="form-group">
          <label class="form-label" for="telephone">Telephone</label>
          <input class="form-control" id="telephone" type="number" name="telephone">
        </div>
-->

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

      </form>

    </div>

  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
