{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 01
{% endblock %}

{% block content %}

<main id="content" role="main">

{{ super() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can I get Industrial Injuries Disablement Benefit?</h1>
      <p>You might be able to claim Industrial Injuries Disablement Benefit if you're ill or disabled.</p>

      <h1 class="heading-medium">Are you ill or disabled for one of the following reasons?</h1>

      <form action="/alpha-01/app/step0" method="post">
        <fieldset class="form-group">

          <legend class="visuallyhidden">What are the reasons for your illness?</legend>

          <label class="block-label" for="radio-accident">
            <input id="radio-accident" type="radio" name="claim-reason" value="accident">
            An accident at work or while you were on an approved employment training course.
          </label>

          <label class="block-label" for="radio-illness">
            <input id="radio-illness" type="radio" name="claim-reason" value="illness">
            A disease caused by work or while you were on an approved employment training course.
          </label>

          <label class="block-label" for="radio-other">
            <input id="radio-other" type="radio" name="claim-reason" value="other">
            A disease or injury that was not caused at work or while you were on approved employment training course.
          </label>

        </fieldset>

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
