{% extends "layout.html" %}

{% block page_title %}
  {{ proto.title + ' ' + proto.version }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{ proto.version | upper | trC('-',' ') }}</h1>

      <p>This version comprises the following Trello Cards from the <a href="https://trello.com/b/7yUKtZyd">IIDB Hypothesis Board</a></p>

      {{
        helpers.linkList([
          {
            url: 'https://trello.com/c/D314bU2d/36-what-was-the-accident-and-how-did-it-happen',
            text: 'What was the accident and how did it happen (1)'
          },
        {
           url: 'https://trello.com/c/jgHemsZi/49-naming-convention',
            text: 'Challenges surround the name (2)'
          },
         {
            url: 'https://trello.com/c/AvWI9FWv/29-gov-uk-content',
            text: 'Looking at Gov.uk content and ways into the service (2)'
          },
          
          {
            url: 'https://trello.com/c/OW6tzqv1',
            text: 'Consent for access to Medical records (2)'
          },
          {
            url: 'https://trello.com/c/CApifniO',
            text: 'Users need to provide us with their bank details(2)'
          },
          {
            url: 'https://trello.com/c/lzSg4b4U',
            text: "There are reasons a user won't be eligible to claim.(2)"
          },
          {
            url: 'https://trello.com/c/6svsMgiS',
            text: 'Method and Frequency of Payment(2)'
          },
        {
            url: 'https://trello.com/c/oXMJy4Lw',
            text: "User understanding of self employment(4)"
          }
        ])
      }}

      <p><a class="button button-start" href="{{ proto.path }}" role="button">View prototype</a></p>

    </div>
  </div>
</main>

{% endblock %}
