{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 05 - Step 2
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can I get Industrial Injuries Disablement Benefit?</h1>

      <h3 class="heading-medium">Who is applying for Industrial Injuries Disablement Benefit?</h3>

      <form action="/alpha-05/app/step3" method="post">

        <div class="form-group">
          <label class="form-label" for="input-name">First name</label>
          <input class="form-control" id="input-name" type="text" name="firstname">
        </div>

        <div class="form-group">
          <label class="form-label" for="input-surname">Surname</label>
          <input class="form-control" id="input-surname" type="text" name="surname">
        </div>

        <div class="form-group">
          <label class="form-label" for="ni-number">
              National Insurance number
              <span class="form-hint">It'll be on your last payslip. For example, JH 21 90 0A.</span>
            </label>
            <input class="form-control" id="ni-number" type="text" name="nino">
        </div>

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
