{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 01 - Step 1
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can I get Industrial Injuries Disablement Benefit?</h1>

      <h3 class="heading-medium">Application continues....</h3>

      <p>Thank you.</p>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
