{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Prototype directory
{% endblock %}

{% block content %}

<main id="content" role="main">

  {{ proto | log | safe }}

  {{ super() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">IIDB Prototypes</h1>

      <p>The following is a directory of Industrial Injuries Disablement Benefit digital service Prototypes by version.</p>

      <h2 class="heading-medium">Alpha</h2>

      <ul class="list list-bullet">
        {% if proto.versions %}
          {% for version in proto.versions %}
            <li><a href="{{ version.url }}">{{ version.title }}</a></li>
          {% endfor %}
        {% else %}

        {% endif %}
			</ul>

    </div>
  </div>

</main>

{% endblock %}
