{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Prototype directory
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-three-thirds">

      <h1 class="heading-large">IIDB Prototypes</h1>

      <p>The following is a directory of Industrial Injuries Disablement Benefit digital service Prototypes by version.</p>

      <h2 class="heading-medium">Alpha</h2>

      <ul class="list list-bullet">
				<li><a href="/alpha-01">Alpha 01</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
