{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype - IIDB - Alpha 04 - Medical Consent
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can I get Industrial Injuries Disablement Benefit?</h1>

      <h2 class="heading-medium">Professionals who know about your condition</h2>

      <!-- <h2 class="heading-medium">Professionals who know about your condition</h2> -->

      <p>To help us gather the information we need, can we contact people that will share details about the effects of your condition with us? This could be:</p>

      <ul class="list-bullet">
        <li>A Doctor, Nurse or GP</li>
        <li>Physiotherapist</li>
        <li>Counsellor</li>
        <li>Trade Union representative</li>
      </ul>


      <form action="{{ proto.path }}/step2" method="post">

        {% set q1 = "Do you agree to us contacting professionals that can provide us with more information?" %}

        <h2 class="heading-medium">{{ q1 }}</h2>

          <div class="form-group">
            <fieldset class="inline">

              <legend class="visuallyhidden">{{ q1 }}</legend>

              <label class="block-label" for="account-yes">
                <input id="account-yes" type="radio" name="medical-consent" value="true">
                Yes
              </label>

              <label class="block-label" for="account-no" data-target="consent-no-notice">
                <input id="account-no" type="radio" name="medical-consent" value="false">
                No
              </label>

              <div class="form-group form-alert js-hidden notice" id="consent-no-notice">
                <h2 class="heading-small" style="margin:0;">To-do/Research: Message to user explaining to process the claim quickly and efficiently, providing medical records consent is better.</h2>
              </div>

            </fieldset>
          </div>

          <fieldset class="primary-nav form-group">
            <legend class="visuallyhidden">Form Navigation</legend>
            <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

{% endblock %}
